/*----------------------------------------------------
GLOBAL

Main font is Minion Pro set by Typekit.
----------------------------------------------------*/

/* Browser */

body { 
  padding: 30px;
  padding-top: 0px;
  text-align: center;
  background-color: #fff;
  color: #222;
}

body, h1, h2, h3, h4, h5, p {
  font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
}

img {
  border: 0;
}

a {
  color: #336699;
}

a:hover {
  color: #6699cc;
}

a:active, a:focus {
  outline: 0;
}

hr {
  clear: both;
  border: 0;
  background: white url('/images/img-hr.png') no-repeat scroll 50% 50%;
  color: transparent;
  height: 12px;
}

div.container, div.footer {
  margin: 0 auto 30px;
  width: 820px;
  padding: 0;
}

h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 58px;
  clear: both;
  line-height: 1.0em;
  margin-bottom: 20px;
  letter-spacing: -2px;
	color: #232323;
}

h2 {
  color: #232323;
  margin: 30px 0;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
}

h6 {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #cc0000;
}

 

/*----------------------------------------------------
INDEX
----------------------------------------------------*/

/* PRODUCTS */

body.index h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

body.index div.box-container {
  padding-left: 15px;
  overflow: hidden;
  margin-bottom: 40px;
}

 

body.index a.box {
  width: 160px;
  margin: 15px 20px 5px 0;
  float: left;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #efefef;
  -moz-box-shadow: 0 0 5px #efefef;
  box-shadow: 0 0 5px #efefef;
  padding: 20px 10px 10px;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
  background: -moz-linear-gradient(top,  #fff,  #efefef);
}

body.index a.box.hover {
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
  background: -moz-linear-gradient(top,  #fff,  #e8e8e8);
}

body.index a.box.end,
body.index div.column.end {
  margin-right: 0;
}

body.index a.box h3 {
  font-size: 21px;
  margin: 3px 0 0 10px;
  color: #369;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
}

body.index a.box h3 span {
  text-decoration: underline;
}

body.index a.box h3 sup {
  color: #999;
  font-weight: normal;
  font-size: 11px;
}

body.index a.box h4 {
  margin: 5px 0 10px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #cc0000;
}

body.index a.box p {
  color: #222;
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 5px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body.index a.box p.action {
  display: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 7px 0;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
  background: -moz-linear-gradient(top,  #fff,  #e8e8e8);
  color: #336699;
}

body.index a.box.hover p.blurb { display: none; }
body.index a.box.hover p.action { display: block; }

body.index a.box div.product {
  display: none;
  position: absolute;
/*  margin: -220px 0 0 -35px;*/
  background-color: #fff;
  width: 825px;
  height: 180px;
}

body.index a.box div.product h1 {
  color: #222;
  margin: 10px 0 15px 0;
  font-size: 46px;
	letter-spacing: -1px;
}

body.index a.box div.product h1 span {
  color: #336699;
  text-decoration: underline;
}

body.index a.box div.product p { font-size: 15px; }
/*body.index a.box div.product img.arrow { margin-top: -10px; }*/
 

 

body.index a.box.hover div.product { display: block; }

/* CUSTOMERS */

body.index div.customers div.meet {
  position: absolute;
/*  margin-left: -125px;*/
  margin-top: 50px;
}

body.index div.customers div.meet img.arrow {
  position: absolute;
  left: 120px;
  top: 65px;
}

body.index div.customers div.meet a.thumbnails {
  display: block;
  width: 143px;
  height: 104px;
  background: url('/images/img-customers.png') no-repeat 0 0;
  text-indent: -1000em;
}

body.index div.customers div.meet a.thumbnails:hover {
  background: url('/images/img-customers.png') no-repeat 0 bottom;
}

body.index div.customers div.meet p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 10px;
  margin: 0;
  text-align: center;
}

body.index div.customers p {
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3em;
  color: #666;
}

body.index div.customers img.logos { margin: 10px 0 30px; }

/* MANIFESTO */

body.index div.column { width: 250px; float: left; margin-right: 40px; }

body.index div.column div.address {
  text-align: left;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 1.4em;
  font-size: 15px;
  overflow: hidden;
  margin: 20px 0;
}

body.index div.column div.address.top { margin-top: 0; }
body.index div.column div.address.bottom { margin-bottom: 0; }

body.index div.column div.address h3 { float: left; font-size: 58px; font-weight: 500; line-height: normal; 
/*	margin: -10px 15px 0 0; */
	color: #ccc; }

body.index div.column div.address h4 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  margin: 5px 0;
  color: #cc0000;
}

body.index div.column div.address p {
  margin: 0 0 0 45px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* REWORK */

body.index div.rework div.quotes {
  padding-top: 5px;
}

body.index div.rework div.quotes h3 {
  color: #888;
  font-weight: 500;
  font-style: italic;
  font-size: 22px;
  margin: 35px 0 10px;
}

body.index div.rework div.quotes p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
}

body.index div.rework div.read {
  position: absolute;
  margin-left: 790px;
  margin-top: 50px;
}

body.index div.rework div.read img.arrow {
  position: absolute;
  top: 70px;
  left: -50px;
}

body.index div.rework div.read p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 10px;
  margin: 0;
  text-align: center;
}

div.contact-us{
	
	width: 600px;
	text-align :center;
/*  float:center;*/
margin: auto;
   margin-top: 70px;
}


/*----------------------------------------------------
ABOUT
----------------------------------------------------*/

body.about div.clear {
  clear: both;
}

body.about div.timeline {
  width: 450px;
  padding: 15px;
  margin: 0 auto 20px;
}

body.about div.timeline h5 {
  color: #222;
  font-family: Helvetica, 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  margin-top: 10px;
  line-height: 1.3em;
}

body.about div.timelinecontents {
  background-image: url('/images/bkgd_timeline.png');
  margin: 30px 0 15px 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-weight: normal;
  font-size: 11px; 
  overflow: hidden;
}

body.about div.leftimage {
  float: left;
  padding: 5px;
  text-align: center;
  width: 145px;
}

body.about div.rightimage {
  float: right;
  padding: 5px;
  text-align: center;
  width: 145px;
}

body.about div.timeblock {
  border-top: 2px solid #999;
  padding-top: 10px;
  width: 290px;
  line-height: normal;
  overflow: hidden;
}

body.about div.timeblock-right {
  border-top: 2px solid #999;
  width: 290px;
  line-height: normal;
  padding-top: 10px;
  float: right;
}

body.about div.threesevenevent {
  border-top: 2px solid #cc0000;
}

body.about div.timelinecontents div.year {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #999;
  font-size: 24px;
  float: left;
  margin-left: 25px;
}

body.about div.timeblock-right div.year {
  margin-right: 25px;
  margin-left: 0;
}

body.about div.threesevenevent div.year {
  color: #cc0000;
}

body.about div.timelinecontents div.eventcontents {
  width: 210px;
  float: left;
  text-align: left;
}

body.about table.team {
  margin: 0 auto 10px;
  width: 490px;
}

body.about table.team td {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

body.about table.team td p {
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  line-height: 1.4em;
}

body.about table.team td h3 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  margin: 0 0 10px;
  font-size: 14px;
  color: #cc0000;
}

body.about table.team td.photo {
  padding: 0;
}

  
div.footer p {
  font-size: 10px;
  color: #999;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin-top: 50px;
}

 